* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}

body {
    color: #1b1b1b;
    background-color: #f1efef;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
	width: 100%;
	height: 65px;
	display: block;
	background-color: #f1efef;
}

.main-header {
	width: 80%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.header-logo {
	height: 100%;
	display: table;
	float:left;
}

.header-logo h1 {
	color: #ffbb00;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: sans-serif;
	font-size: 32px;
	font-weight:900;
}

.header-logo h1 span {
	font-weight: 100;
	color: #3e3c3c;
}

.navigation {
	float: right;
	height: 100%;
}

.navigation li {
	height: 100%;
	display: table;
	float: left;
	padding: 0 20px;
}

.navigation li a {
	display: table-cell;
	vertical-align: middle;
	color: #3e3c3c;
	height: 100%;
	font-family: 'Mongolian Baiti';
	font-size: 20px;
}

/*home body*/

.home-banner {
	width: 100%;
    height: calc(100vh - 65px);
    background-image: 
    linear-gradient(
        rgba(31, 30, 28, 0.565),
        rgba(31, 30, 28, 0.565)
    ),
    url(/UI/assets/images/712682.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.home-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-banner h2 {
	font-family: 'Mongolian Baiti';
	font-size: 50px;
	font-weight: 700;
	text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.home-banner h2 span {
	font-weight: 900;
    color: #ffbb00;
}

.home-banner p {
	font-family: 'Mongolian Baiti';
	font-size: 20px;
	font-weight: 200;
	text-align: center;
    color: floralwhite;
    text-shadow: 2px 2px 2px #808080;

}

.home-banner-button {
	text-align:center;
    padding-top: 120px;
}

.home-banner-button div {
    display: inline-block;
    padding: 0 50px;
}

.home-banner-button a {
    text-decoration: none;
    background-color: #ffbb00;
    color: #1b1b1b;
    font-size: 24px;
    padding: 15px 50px;
    font-weight: 700;
    border-radius: 100px;
}

.home-banner-button a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffbb00;
}

/*home section 1*/
.home-sec-1 {
    padding: 30px;
}

.home-section-1 {
    padding: 50px 70px;
}

.home-sec-1 h1 {
    text-align: center;
    padding-top: 30px;
    color: #0c0c0c;
    font-size: 32px;
    text-transform: uppercase;
    font-family: Georgia;
}

.home-section-1 div {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding: 15px;
}

.home-section-1 h1 {
    font-size: 20px;
    margin: 10px;
    font-family: Georgia;
}

.home-section-1 p {
    margin: 20px 15px;
}

.home-section-1 a {
    color: #ffbb00;
    margin: 30px;
}

/*login page*/
.login-form {
    width: 100%;
    height: calc(100vh - 65px);
    background-image: 
    linear-gradient(
        rgba(31, 30, 28, 0.76),
        rgba(31, 30, 28, 0.76)
    ),
    url(images/75502.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-box {
    width: 380px;
    height: 460px;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 40px;
}

.login-box h1 {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    font-size: 30px;
    color: #ffbb00;
}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Mongolian Baiti';
}


.login-box input {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
    padding: 3px 0;
    }

.login-box input[type='text'], input[type='password'], input[type='date'] {
    border: none;
    border-bottom: 1px solid #ffbb00;
    background: transparent;
    outline: none;
    height: 30px;
}

.login-box input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: #ffbb00;
    color: #1b1b1b;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px;
}

.login-box a {
    text-decoration: none;
    font-size: 16px;
    color: gold;
}


/* Signup page*/
.signup-form {
    width: 100%;
    height: calc(100vh - 65px);
    background-image: url(images/396959-2300x1294.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.signup-box {
    width: 350px;
    height: 520px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    top: 50%;
    left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
    margin-top: 35px;
}

.signup-box h1 {
    margin: 0;
    padding: 0 30px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    color: gold;
}

.signup-box p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    padding-top: 10px;
    font-family: 'Mongolian Baiti';
}


.signup-box input {
    width: 100%;
    margin-bottom: 20px;
    padding: 3px 0;
    }

    .signup-box input[type='text'], input[type='email'], input[type='password'] {
        border: none;
        border-bottom: 1px solid goldenrod;
        background: transparent;
        outline: none;
        height: 30px;
    }

.signup-box input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: goldenrod;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
}

.signup-box a {
    text-decoration: none;
    font-size: 16px;
    color: gold;
}
/*create request*/
.create-request p {
    display: inline;
}

/*footer*/
footer {
    width: calc(100% - 60px);
    height: 100%;
    padding: 20px 30px;
    background-color: #3e3c3c;
    margin-top: 30px;
    overflow: hidden;
}

footer ul {
	width: inherit;
	float: left;
    padding-left: 20px;
    text-align: center;
}

footer ul li {
	height: 100%;
	display: inline-block;
    padding: 0 20px;
    
}

footer ul li a {
	color: white;
	font-family: 'Mongolian Baiti';
	font-size: 18px;
	line-height: 30px;
	}

.footer-sm {
    padding-right: 40px;
    text-align: center;
}

.footer-sm img {
    margin-bottom: 10px;
    display: inline-block;
}